*~
*.pyc
*.swp
.Rhistory
docs/_build
build/
dist/
*.egg-info/
*.egg
.eggs/
.snakemake*
.venv
.venv/*

results/*
prediction_genome/results/*
prediction_genome/data/*
prediction_genome/.snakemake*
bigwig/*.bw
bigwig/ATACseq-AWG/OUT/*.bw
bigwig/ENCODE/*.bw

.idea

.pytest*
.cache
.mypy_cache
.ipynb*
.vscode
.ropeproject
.test*
tests/test*/*
playground/*
tutorial/*
